@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

:root {
  font-family: "Galmuri11", sans-serif !important;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#containerWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1280px) {
  #containerWrapper {
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
  }

  #container {
    width: 1280px !important;
    transform-origin: top left !important;
    transform: scale(calc(100vw / 1280)) !important;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}
